html{
    background-color: #ffddd2 ;

}
#pic1{
    width: 250px;
    height: 250px;
    border: thick double #E29578;

}
#pic2{
    width:400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: thick double #E29578;
}
#pic3{
    width: 250px;
    height: 250px;
    border: thick double #E29578;
}
#pic4{
    width:400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: thick double #E29578;
}
#pic5{
    width: 250px;
    height: 250px;
    border: thick double #E29578;
}
#pic6{
    width:400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: thick double #E29578;
}
#pic7{
    width: 250px;
    height: 250px;
    border: thick double #E29578;
}
#pic8{
    width:400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: thick double #E29578;
}
#pic9{
    width: 250px;
    height: 250px;
    border: thick double #E29578;
}
#pic10{
    width:400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: thick double #E29578;
}
h1{
    text-align: center;
    color: #b15f41;
    text-decoration-line: underline;
}
h2{
    text-align: center;
    color: #006d77;
    text-decoration-line: underline;
}

h3{
    color: #006d77;
    text-decoration-line: none;
}
#stars{
    text-align: left;
}
table{
    width: 20%;
    margin-left: 40%;
    color: #006d77;
}
ol{
    width: 50%;
    margin-left: 35%;
    color: #006d77;
}
footer{
    padding-bottom: 30px;
    padding-top: 200px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    color: #006d77;
    text-decoration-line: underline;
    font-size: 18px;
}
a{
    color:#2b605a;
    transition: background-cikir 0.5s;
    text-decoration: none;
}
a:hover{
    background-color: rgb(15, 76, 62);
}
div{
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
tr:nth-child(even){
    background-color: #f0b29c
}
nav{
    background-color: #E29578;
}
ol{
    font-size: 18px;
}
td{
    font-size: 18px;
}
th{
    font-size: 20px;
}
